.me-2 {
  margin-right: 0.5rem;
  width: 10rem;
}

.form-control {
  width: 40%;
  margin-right: 10px;
  margin-left: 30%;
  display: block;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--bs-body-color);
  appearance: none;
  background-color: var(--bs-body-bg);
  background-clip: padding-box;
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  text-align: center;
  background-color: rgb(84, 84, 84);
  color: #ff732c;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

*,
::after,
::before {
  box-sizing: border-box;
}

input[type="search" i] {
  font-size: 20px;
  background-color: rgb(74, 74, 73);
  appearance: auto;
  box-sizing: border-box;
  writing-mode: horizontal-tb;
  padding-block: 1px;
  padding-inline: 2px;
  color: #ffffff;
}



input {
  text-rendering: auto;
  color: fieldtext;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: auto;
  -webkit-rtl-ordering: logical;
  cursor: text;
  background-color: field;
  margin: 0em;
  padding: 1px 0px;
  border-width: 2px;
  border-style: inset;
  border-color: -internal-light-dark(rgb(95, 93, 93), rgb(133, 133, 133));
  border-image: initial;
  padding-block: 1px;
  padding-inline: 2px;
  
}

.search-results {
  width: 40%;
  margin-left: 30%;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 2fr));
  margin: 0 auto;
  color: #ffffff;

  max-height: 200px;
  overflow-y: scroll;
  background-color: rgba(84, 84, 84, 0.613);

}

.search-results::-webkit-scrollbar {
  width: 0;
  background-color: transparent;
}

.gridderSearch {
  display: flex;
  justify-content: center;

}

.imgSearch {
  width: 30%;

}

.imgSearch:hover {
  cursor: pointer;  
  -webkit-transform: scale(0.75);
  -ms-transform: scale(0.75);
  transform: scale(0.75);
  transition: 1s ease;

}

.nomeSearch {
  width: 5%;
  height: 3%;
  font-size: 1rem;
}