.main {
  background-image: url("../../Background.jpg");
  width: 100%;
  height: 100%;
  margin-bottom: 0;

}

.titulo {
  text-align: center;
  color: rgb(255, 255, 255);
  font: bold;
  -webkit-text-stroke: 2px #fa5c00;
  font-size: 500%;
}

.footer {

  height: 100%;
  background-color: black;
  text-align: center;
  color: chocolate;
}

.choose {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
  margin: 0 auto;
  width: 80%;
  height: auto;
  font-size: large;
  color: #ffffff;
  padding: 0 3% 3% 3%;
  align-items: center;
  justify-content: center;
}