.background{
    width: 100%;
    background-image: url("../../../Background.jpg");
}


.itens{
    display: grid;
    grid-template-columns: repeat(5, 233fr); /* Quatro colunas */
    grid-gap: 10%; 
    margin: 0 auto;
    max-width: 75%;
    background-color: #000000;
    font-size: large;
    color: #ffffff;
    padding: 3%;
}




.button-Read {
    appearance: none;
    background-color: #d15503;
    border: 7px solid #1A1A1A;
    border-radius: 15px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 5px 40% ;
    min-height: 60px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 20%;
    will-change: transform;
}

.button-Read:disabled {
  pointer-events: none;
}

.button-Read:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-Read:active {
  box-shadow: none;
  transform: translateY(0);
}